html, body {
	width: 100% !important;
	height: 100% !important;
	display: block !important;
	position: absolute !important;
}
:root[data-scrolling] {
	scroll-behavior: smooth;
}
body {
	overflow: hidden;
}
body[data-idle] * {
	cursor: none !important;
}
img.transparent {
	background-color: transparent;
	background-image: none;
}
.overflowing {
	cursor: zoom-out;
}
#toolbar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 250ms;
}
body:not([data-idle]) #toolbar:hover {
	opacity: 1;
}
#toolbar > button {
	background-color: transparent;
	border: none;
	width: 64px;
	height: 64px;
	margin: 4px 0;
	cursor: pointer;
}
#toolbar > div {
	flex-grow: 1;
}
#zoomIn {
	background-image: url("zoomIn.svg");
}
#zoomOut {
	background-image: url("zoomOut.svg");
}
#zoom1 {
	background-image: url("zoom1.svg");
}
#zoomFit {
	background-image: url("zoomFit.svg");
}
#zoomFitWidth {
	background-image: url("zoomFitWidth.svg");
}
#zoomFitHeight {
	background-image: url("zoomFitHeight.svg");
}
#donate {
	background-image: url("donate.svg");
}
#scrollbar-x {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 10px;
}
#scrollbar-x > div {
	height: 100%;
	border-width: 5px 3px;
	border-image: url("scrollX.png") 50% 30% 50% 30% fill;
}
#scrollbar-y {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10px;
}
#scrollbar-y > div {
	width: 100%;
	border-width: 3px 5px;
	border-image: url("scrollY.png") 30% 50% 30% 50% fill;
}
#scrollbar-x > div,
#scrollbar-y > div {
	position: absolute;
	opacity: 0.25;
	border-style: solid;
	border-color: transparent;
	box-sizing: border-box;
}
#scrollbar-x:hover > div,
#scrollbar-y:hover > div {
	opacity: 0.5;
}
body[data-idle] #scrollbar-x > div,
body[data-idle] #scrollbar-y > div {
	opacity: 0;
	transition: opacity 250ms;
}
body[data-overflow="x"] #scrollbar-x,
body[data-overflow="both"] #scrollbar-x,
body[data-overflow="y"] #scrollbar-y,
body[data-overflow="both"] #scrollbar-y {
	display: block;
}
body[data-overflow="both"] #scrollbar-x {
	right: 10px;
}
body[data-overflow="both"] #scrollbar-y {
	bottom: 10px;
}
